body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

app-user-card,
app-user-status,
app-user-bio {
  display: block;
  max-width: 600px;
  margin: 0 auto 20px auto;
}

textarea {
  width: 100%;
  height: 90px;
  margin-top: 8px;
}